.title-container {
  width: 70%;
  margin: auto;
  margin-top: 5%;
  // background-color: rgba(255, 255, 255, 0.1);
  text-align: center;

  img {
    width: 100px;
    height: auto;
    transform: translateY(10px);
  }

  h1 {
    color: white;
    font-size: 3rem;
    font-weight: bold;

    font-family: "Helvetica Neue", sans-serif;
    display: inline;
    transform: translateY(-10px);
  }
}

.content-section {
  width: 80%;
  margin: 0 auto;
  padding: 20px;
  color: white;
  font-size: 1.2rem;
  font-family: "Helvetica Neue", sans-serif;

  .search-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid orange;

    input {
      width: 70%;
      padding: 10px;
      border-radius: 5px;
      border: none;
      font-size: 1.2rem;
      font-family: "Helvetica Neue", sans-serif;

      &:focus {
        outline: none;
      }
    }

    button {
      padding: 10px 20px;
      border-radius: 5px;
      border: none;
      background-color: orange;
      color: white;
      font-size: 1.2rem;
      font-family: "Helvetica Neue", sans-serif;
      margin-left: 10px;
      cursor: pointer;

      &:hover {
        background-color: #ff8c00;
      }
    }
  }
}
