
.blog {
    width: 80%;
    margin: 20px auto;
    padding: 20px 50px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    background-color: rgba(255, 255, 255, 0.1);
    
    h3 {
        color: white;
        font-size: 3rem;
        margin-bottom: 10px;
    }
    
    p {
        color: white;
        font-size: 2rem;
        margin-bottom: 10px;
    }

    img{
        width: 100%;
        height: auto;
        margin-bottom: 10px;
    }

    .date {
        color: white;
        font-size: 1rem;
        margin-bottom: 10px;
    }
    
}