.overlay{
    width: 100vw;
    height: 100vh;
    .page {
        position: absolute;
        top: 70px;
        left: 250px;
        width: calc(100% - 250px);
        height: calc(100vh - 70px);
        overflow-y: scroll;
        overflow-x: hidden;
    }

    /* width */
    ::-webkit-scrollbar {
        width: 10px;
    }

    /* Track */
    ::-webkit-scrollbar-track {
        background: #4f4f4f;
    }

    /* Handle */
    ::-webkit-scrollbar-thumb {
        background: orange;
    }

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: darkorange;
    }
}