*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
  margin: 0;
  font: 300 11px/1.4 'Helvetica Neue', 'sans-serif';
  color: #ffffff;
  background-color: #022c43;
  overflow: hidden;
  display: block;
  min-height: 100vh;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}